<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cancelModal()">Cancel</ion-button>
      </ion-buttons>
      <ion-title>Welcome</ion-title>
      <ion-buttons slot="end">
        <ion-button [strong]="true" (click)="confirmModalAddHabit()">Confirm</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form #habitForm="ngForm">
      <ion-item>
        <ion-label position="stacked">Habit Name</ion-label>
        <ion-input name="name" placeholder="E.g. 'Study french'!" type="text"
          [(ngModel)]="habitToBeAdded.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea name="description" placeholder="What do you want to achieve?"
          [(ngModel)]="habitToBeAdded.description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Goal (Number of days)</ion-label>
        <ion-input name="goal" placeholder="Number of days..." type="number"
          [(ngModel)]="habitToBeAdded.goal"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Category</ion-label>
        <ion-select name="category" placeholder="Select a category" [(ngModel)]="habitToBeAdded.category">
          @for (category of categories; track category) {
          <ion-select-option [value]="category">{{ category }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
    </form>
  </ion-content>