<ion-header>
  <ion-toolbar>
    <ion-title>Habits List</ion-title>
    <ion-buttons slot="primary" id="open-create-habit">
      <ion-button> New </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-modal trigger="open-create-habit">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancelModal()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form #habitForm="ngForm">
          <ion-item>
            <ion-label position="stacked">Habit Name</ion-label>
            <ion-input placeholder="E.g. 'Study french'!" type="text" [(ngModel)]="newHabit.name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-textarea placeholder="What do you want to achieve?" [(ngModel)]="newHabit.description"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Goal (Number of days)</ion-label>
            <ion-input placeholder="Number of days..." type="number" [(ngModel)]="newHabit.goal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Category</ion-label>
            <ion-select placeholder="Select a category" [(ngModel)]="newHabit.category">
              @for (category of categories; track category) {
                <ion-select-option [value]="category">{{ category }}</ion-select-option>
              }
            </ion-select>
          </ion-item>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- <ion-list>
    <ion-item-sliding *ngFor="let habit of habits">
      <ion-item>
        <ion-label>
          <h2>{{ habit.name }}</h2>
          <p>{{ habit.description }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteHabit(habit.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding> -->
</ion-content>
