<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Settings
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <!-- item to clear all data -->
    <ion-item button id="clear-habits-alert">
      <ion-label>Clear All Data</ion-label>
    </ion-item>
    <ion-alert trigger="clear-habits-alert" header="Are you sure?"
      message="This will delete all habits from the app. This operation cannot be undone."
      [buttons]="clearHabitsAlertButtons">
    </ion-alert>
    <ion-item button id="import-dummy-habits">
      <ion-label>Import Dummy Habits</ion-label>
    </ion-item>
    <ion-alert trigger="import-dummy-habits" header="Are you sure?"
      message="This will replace all habits in the app with debug data. All other habits will be lost. This operation cannot be undone."
      [buttons]="importDummyHabitsAlertButtons"></ion-alert>
    <ion-item button>
      <ion-label>Credits</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Version</ion-label>
      <ion-note slot="end">0.1.0</ion-note>
    </ion-item>
  </ion-list>
</ion-content>